@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

@layer theme {
  @variant dark {
    --background: oklch(0.17 0.006 285.823);
    --surface: oklch(0.22 0.006 285.89);
    --overlay: var(--surface);
    --surface-secondary: oklch(0.27 0.005 286.14);
    --surface-tertiary: oklch(0.31 0.004 247.91);
    --field-background: var(--surface);
    --border: oklch(0.34 0.006 286.033);
  }
}
